// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
//	background-image: url("beer_mug.jpg");
	background-image: url("Beer-Bottles-.jpeg");
}
h1
{
	font-color: gray;
	font-weight: bold;
}
.row
{
	border-radius: 10px;
	background-color: rgb(200,200,200);
	font-weight: bold;
}
.col-xs-11
{
	border-radius: 10px;
	background-color: rgb(170,150,50);
}
